@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: white;
  background-color: black; */
  /* text-shadow: 0px 1px 2px 3px #91eb13,0px 10px 20px 33px #91eb13,0px 1px 12px 36px #91eb13,0px 1px 2px 3px #91eb13; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* --all-header-bg: #bd76e4ce; */
}
::selection {
  background-color: #91eb13; /* Indigo background */
  color: #ffffff;            /* White text */

}

[data-theme = "love"]{
  --main-bg:rgb(237, 145, 160);
  --header-bg:rgb(186, 112, 112);
  --tool-icon:rgb(137, 127, 160);
    /* box-shadow: 0px 1px 2px 3px #91eb13,0px 10px 20px 33px #91eb13,0px 1px 12px 36px #91eb13,0px 1px 2px 3px #91eb13; */
    * > img {
      /* background-color: #91eb13; */
      border: 1px solid #91eb13;
      box-shadow: inset;
    }
  
   /* background-color: red; */
   ::selection{
    background-color: rgb(173, 206, 208);
    filter: drop-shadow(2px);
    color:black;
   }
}
[data-theme = "black"]{
  --main-bg:black;
  --header-bg:transparent;
  --tool-icon:rgb(137, 127, 160);
    box-shadow: 0px 1px 2px 3px #91eb13,0px 10px 20px 33px #91eb13,0px 1px 12px 36px #91eb13,0px 1px 2px 3px #91eb13;
    * > img {
      /* background-color: #91eb13; */
      border: 1px solid #91eb13;
      box-shadow: inset;
    }
  
   /* background-color: red; */
   ::selection{
    background-color: rgb(173, 206, 208);
    filter: drop-shadow(2px);
    color:black;
   }
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    --chat-box-bg: #dedc67ce;
    --input-bg: #dedc67ce;
    --input-border: #dedc67ce;
    --input-text: #000000;
    --input-placeholder: #000000;
    --input-focus-border: #000000;
    --input-focus-bg: #dedc67ce;
    --input-focus-text: #000000;
    --input-focus-placeholder: #000000;
    --input-focus-shadow: rgba(0, 0, 0, 0 1);
    --input-focus-shadow-color: rgba(0, 0, 0, 0.1);
    --input-focus-shadow-width: 0px;
    --input-focus-shadow-style: solid;
    --input-focus-shadow-offset: 0px 0px;
    --input-focus-shadow-blur: 0px;
    --input-focus-shadow-spread: 0px;
    --input-focus-shadow-inset: false;
    --input-focus-shadow-color: rgba(0, 0, 0, 0.1);
    --input-focus-shadow-width: 0px;
    --input-focus-shadow-style: solid;
    --input-focus-shadow-offset: 0px 0px;
    --input-focus-shadow-blur: 0px;
    --input-focus-shadow-spread: 0px;
    --input-focus-shadow-inset: false;

    --sidebar-user-bg: #70c9a6ce;
    --all-header-bg: #bd76e4ce;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #121212; 
    color: #ffffff;
    border-bottom-color:black;
  }
} */
